@page "/"

<style>
    h1, h5 {
        font-weight: bold;
    }

    h5 {
        background-color: #E0E0E0;
        line-height: 1.5;
        padding-left: 10px;
    }
</style>


<h1>Hello! We are group 2.</h1>

<p>Welcome to the Gym management app.</p>

<h5>Team members: </h5>
<p>Chunxia Huang</p>
<p>Qianjun Liang</p>
<p>Zac Ruff</p>
<p>Jim Wang</p>

